.nav-link {
  padding: 10px 15px;
  margin: 5px 5px;
  background-color: rgb(251, 244, 244);
  box-sizing: border-box;
  text-decoration: none !important;
  border-bottom: 3px solid transparent;
}

.nav-link:hover {
  border-bottom: 3px solid #4361EE;
  background-color: rgb(251, 244, 244);
  text-decoration: none !important;
  cursor: pointer;
}

.tabular-view-container{
  width: 80%;
  padding: 10px 30px;
  margin-top: 12px;
}

body{
  background-color: whitesmoke !important;
}

.tabular-clickable-field{
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
}

.tabular-clickable-field:hover{
  cursor: pointer;
  /* text-decoration: underline; */
  border-bottom: 1px solid blue;
}

.welcome-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 20px;
  padding: 30px;
}

.welcome-container{
  font-size: 1.2em;
}